h2{
    color: rgb(7, 7, 7);
    background-color: aqua;
    padding: 5PX;
    margin: 5px;
    border: 5px solid black;
}
  
ol{
    background-color: blanchedalmond;
    border-radius: 10px;
}
.ending{
    background-image: url("guillermo-alvarez-kF5nFbHBG5E-unsplash.jpg");
    background-size: cover;
}